{% extends "base.html" %}

{% block content %}
<div class="max-w-md mx-auto mt-6 p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-3xl font-semibold mb-4 text-center">Create Event</h2>
    <form method="POST">
        <div class="mb-4">
            <input type="text" name="name" placeholder="Event Name" required
                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500"
                autocomplete="off">
        </div>
        <div class="mb-4">
            <input type="datetime-local" name="date" required
                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500">
        </div>
        <div class="mb-4">
            <textarea name="description" placeholder="Description" required
                class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500 resize-none"
                rows="4"></textarea>
        </div>
        <div class="flex justify-center">
            <button type="submit"
                class="bg-blue-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                Create Event
            </button>
        </div>
    </form>
</div>
{% endblock %}

