{% extends "base.html" %}
{% block content %}
<h2 class="text-4xl font-bold text-center mb-8">Upcoming Meetings</h2>
{% if not meetings %}
{{ "No meetings scheduled yet." }}
{% endif %}
    <ul class="flex  space-x-4">
        {% for meeting in meetings %}
        <li class="bg-white p-4 rounded-lg shadow-md text-center">{{ meeting.location }} at {{ meeting.time }} - <a  class="text-lg font-bold text-gray-800" href="{{ meeting.google_meet_link }}">Join</a></li>
        {% endfor %}
    </ul>


   

<div class="fixed bottom-8 right-8">
    <a href="{{ url_for('add_meeting') }}" class="bg-blue-500 text-white p-4 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
        <i class="fas fa-plus"></i>
    </a>
</div>
{% endblock %}
