{% extends "base.html" %}
{% block content %}

<h1 class="text-4xl font-bold text-center mb-4">User Profile</h1>
    <img src="https://ui-avatars.com/api/?name={{ current_user.email }}&background=random&bold=true&rounded=true&size=128"
        alt="" srcset="">
    <p class="text-lg font-semibold mb-2">Name: {{ current_user.name }}</p>
    <p class="text-lg font-semibold mb-2">Email: {{ current_user.email }}</p>
<div class="mt-4 text-right">
    <a href="{{ url_for('edit_profile') }}"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Edit
        Profile</a>
</div>

{% endblock %}